#modal_master_password.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => "button", "data-dismiss" => "modal"} ×
        %h2 Master Password
      .modal-body
        %br
        .alert.alert-danger{:id=>"error_decrypt_div", :style=>"display: none;"}
          %strong Errror decrypting password!
          Please check master password. 

        =form_tag "#", :'data-ref-action'=>show_password_path, :class=>"form-horizontal", :id=>"check-master-password-form"
        .form-group
          = label_tag :master_password, 'Insert Master Password', :class=>"col-md-4 control-label"
          .col-md-8
            = password_field_tag :master_password, nil, :class=>"form-control", :required=>true
            = hidden_field_tag :entity_id, nil
      .modal-footer
        =link_to 'Show Password', "#", :class=>"btn btn-raised btn-primary check-master-password-btn"
          